@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
/*     font-family: 'Barlow', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
/*     font-family: 'Fraunces', serif; */

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

header {
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  width: 90%;
  margin: auto;
  padding: 30px 20px 50px;
  display: flex;
  justify-content: space-between;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  letter-spacing: 0.3rem;
  color: hsl(0, 0%, 100%);
}

.hero img {
  margin-top: 30px;
  margin-bottom: 135px;
}

.transformSection,
.standSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.img img {
  width: 100%;
}

.sectionText {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 48px 32px;
  gap: 1.5rem;
  align-items: center;
}

.sectionText h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 36px;
  color: hsl(212, 27%, 19%);
}

.sectionText p {
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.sectionText a {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
}

.learnMore {
  display: flex;
  position: relative;
  justify-content: center;
}

.sectionText .learnMore::after {
  display: inline-block;
  content: "";
  width: 13ch;
  height: 10px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  z-index: -1;
  background-color: hsla(51, 100%, 49%, 0.5);
}

.standSection .sectionText .learnMore::after {
  background-color: hsla(7, 99%, 70%, 0.3);
}

.graphicSection,
.photographySection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.graphicSection {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  color: hsl(167, 40%, 24%);
}

.photographySection {
  background-image: url("../images/mobile/image-photography.jpg");
  color: hsl(198, 62%, 26%);
}

.photoText {
  padding: 40px 20px;
}

.photoText h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: capitalize;
}
